<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041441208201-9s7jlv71u283m0kkg044ukogt1e2jvfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041441208201-9s7jlv71u283m0kkg044ukogt1e2jvfn</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ4SDMDO7Km3k_qCUJsxc_0D4oAxLMSFU</string>
	<key>GCM_SENDER_ID</key>
	<string>1041441208201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.echim.FirebasePractice</string>
	<key>PROJECT_ID</key>
	<string>appworks-phase1</string>
	<key>STORAGE_BUCKET</key>
	<string>appworks-phase1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041441208201:ios:c6a57734d8a27eb5e61358</string>
	<key>DATABASE_URL</key>
	<string>https://appworks-phase1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>